// font-family: 'Roboto', sans-serif;
// font-family: 'Amatic SC', cursive;
body
    box-sizing: border-box
    font-family: 'Roboto', sans-serif;
    font-size: 18px
    margin 0
    padding 0

h1, h2, h3, h4, h5, h6
    font-family: 'Amatic SC', cursive;


.data
    background rgba(white, .1)
    bottom 15%
    left 2em
    padding 0 3em
    position absolute
    h2
        font-weight: normal

.dominicaduque
    background-image: url('../img/2019-11-10 21.08.58 2174479171430882837_211054777.jpg')
    background-size cover
    background-position top right
    background-repeat no-repeat
    color #fff
    height 100vh

.intro
    background black
    height auto
    width 100%

.videos
    display inline-flex
    flex-wrap: wrap
    height 315px
    justify-content: center
    margin .5em
    margin-top -4em
    position absolute
    right 5%
[class^="video--box-"]
    margin .5em
    iframe
        width auto

@import 'mediaquery'