@media screen and (max-width: 425px) {
  .dominicaduque {
    background-image: url("../img/2019-11-06 19.16.02 2171523227793137015_211054777.jpg");
    background-position: top center;
    color: #fff;
  }
  .dominicaduque .data {
    background: rgba(0,0,0,0.2);
    padding-left: 1em;
  }
}
