@media screen and (max-width 768px)
    .videos
        justify-content: center;
    .intro
        flex-wrap: wrap
        p
            width 100%
    .video--box-1
        iframe
            width 280px

@media screen and (max-width 425px)
    .dominicaduque
        background-image: url('../img/2012-09-14 21.19.31 280645491132901785_211054777.jpg')
        background-position: top center
        color white
    .data
        background: rgba(black, .3)
        padding-left 1em
    .gallery
        display flex
        overflow-x auto
        img
            min-width 90%
            height auto
    .hidden
        display flex