.footer
    h2.border--title-w Lorem ipsum dolor sit amet.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, laborum nihil mollitia explicabo vel sed consectetur reprehenderit! Rerum nostrum maiores rem cumque placeat soluta ipsam accusamus doloremque nihil, aperiam eveniet.